    button {
        display: block;
        margin: 20px 0px;
}
.sombra {
    /* box-shadow: X - Y - Desfoque - Cor */
    box-shadow: 0px 1px 15px gray;
}
.linha{
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px ;
}
.sem {
    background-color: rgb(0, 0, 0);
    color: white;
}
.sem:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}

.transition {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: background-color 0.5s ease;
    font-size: 50px;
    width: 500px;
    height: 300px;
}
.transition:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}
img {
    width: 200px;
    transition: width 3s ease;  
}
img:hover{
    width: 300px;
}