body{
display: grid;

grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;

height: 100vh;
width: 100vh;
gap: 15px;

grid-template-areas: 
"i1 i2 i3"
"i4 i5 i6"
"i7 i8 i9";

}
.i1 {
    grid-area: i1;
    height: 700px;
    border-radius: 15px;
}
.i2 {
    grid-area: i2;
    height: 800px;
    border-radius: 15px;
}
.i3{
    grid-area: i3;
    height: 550px;
    border-radius: 15px;
}
.i4{
    grid-area: i4;
    height: 550px;
    border-radius: 15px;
}
.i5 {
    grid-area: i5;
    height: 550px;
    border-radius: 15px;
}
.i6{
    grid-area: i6;
    height: 450px;
    border-radius: 15px;
}
* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.i7{
    grid-area: i7;
    height: 800px;
    border-radius: 30px;
}
.i8{
    grid-area: i8;
    height: 800px;
    border-radius: 15px;
}
.i9{
grid-area: i9;
height: 800px;
border-radius: 15px;
}

