*{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    background-color: brown;

}

section{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 3px;

    grid-template-areas: 
    "xbox palio trionda"
    "meias tenis ar";
    
}

img {
    height: 300px;
}
header{
    text-align: center;
    padding: 15px;
}
.xbox{
    grid-area: xbox;
    text-align: center;
    border: black solid 3px;
    border-radius: 15px;
    
}
.palio {
    grid-area: palio;
    text-align: center;
    border: black solid 3px;
    border-radius: 15px;
}
.trionda {
    grid-area: trionda;
    text-align: center;
    border: black solid 3px;
    border-radius: 15px;
}

.meias{
    grid-area: meias;
    text-align: center;
    border: black solid 3px;
    border-radius: 15px;
}
.tenis{
    grid-area: tenis;
    text-align: center;
    border: black solid 3px;
    border-radius: 15px;
}
.ar{
    grid-area: ar;
    text-align: center;
    border: black solid 3px;
    border-radius: 15px;
}