body{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 25% 25% 25% 25%;

    height: 100vh;
    gap: 5px;

    grid-template-areas: 
    "caixa1 caixa2 caixa3"
    "caixa4 caixa5 caixa6"
    "caixa7 caixa8 caixa9"
    "caixa10 caixa11 caixa12";
}

.caixa1 {
    grid-area: caixa1;
    background-color: #bf0a30;
}
.caixa2 {
    grid-area: caixa2;
    background-color: #ab092b;
}
.caixa3 {
    grid-area: caixa3;
    background-color: #980826
;
}

.caixa4{
    grid-area: caixa4;
    background-color: #084f85;
}

.caixa5 {
    grid-area: caixa5;
    background-color: #063f6a;
}

.caixa6 {
    grid-area: caixa6;
    background-color: #042f4f;
}

.caixa7 {
    grid-area: caixa7;
    background-color: #0b3326;
}
.caixa8{
    grid-area: caixa8;
    background-color: #08281e;
}
.caixa9{
    grid-area: caixa9;
    background-color: #061e16;
}
.caixa10{
    grid-area: caixa10;
    background-color: #e7a822;
}
.caixa11{
    grid-area: caixa11;
    background-color: #b8861b;
}
.caixa12{
    grid-area: caixa12;
    background-color: #8a6414;
}
